<p>admin-restock works!</p>

<h2 class="text-xl font-semibold my-4">Out of Stock Books</h2>
<table class="min-w-full bg-white border">
  <thead>
    <tr>
      <th class="px-4 py-2">Title</th>
      <th class="px-4 py-2">Author</th>
      <th class="px-4 py-2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of outOfStockBooks">
      <td class="border px-4 py-2">{{ book.title }}</td>
      <td class="border px-4 py-2">{{ book.author || 'N/A' }}</td>
      <td class="border px-4 py-2">
        <button (click)="restock(book._id)" class="bg-green-600 text-white px-2 py-1 rounded">Restock</button>
      </td>
    </tr>
  </tbody>
</table>



