<app-navbar></app-navbar>

<!-- <div class="min-h-screen  flex flex-col items-center justify-center text-center px-4">
    <h1 class="text-5xl font-bold text-blue-700 mb-4">Welcome to Pustak 📚</h1>
    <p class="text-lg text-gray-600 mb-6">Your one-stop platform to Wishlist, Discover, and Buy Books</p>
    <a routerLink="/register" class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg shadow">
        Get Started
    </a>
</div> -->
<div class="bg-gradient-to-b from-blue-300 to-blue-500 via-indigo-100 shadow-md h-full">
    <div class="relative size-32">
        <div class="absolute right-0 bottom-0 size-16 font-bold">Welcome to Pustak 📚</div>
    </div>


</div>

