<nav class="bg-white-100">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-2">
    <div class="relative flex h-16 items-center justify-between">
      <!-- <div class="absolute inset-y-0 left-0 flex items-center sm:hidden"> -->
      <!-- Mobile menu button-->
      <!-- <button type="button" aria-controls="mobile-menu" aria-expanded="false" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span> -->
      <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
      <!-- <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="block size-6">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg> -->
      <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
      <!-- <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="hidden size-6">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button> -->
      <!-- </div> -->
      <div class="flex items-center space-x-2  ">
       
          <img src="../../../../assets/books/logo.jpg" alt="Your Company" class="h-20 w-auto rounded-full mb-5" />
       
        
          <h2 class="font-bold mr-10">Pustak</h2>
      </div>
      <div>
        <div class="hidden sm:ml-6 sm:block justify-end">
          <div class="flex space-x-2 mt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" aria-current="page"
              class="rounded-md bg-sky-200 px-3 py-2 text-sm font-medium text-black">Books</a>
            <a href= "user/cart"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-sky-100 hover:text-black">Cart
              🛒</a>
            <a href="user/wishlist"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-sky-100 hover:text-black">Wishlist❤️</a>
            <a href="#"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-800 hover:bg-sky-100 hover:text-black">Notifications🔔</a>
            <button type="button" (click) = "logout()" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Logout</button>
          </div>
        </div>
      </div>
      <!-- <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"> -->


        <!-- Profile dropdown -->
        <!-- <div class="relative ml-3">
          <button id="user-menu-button" type="button" aria-expanded="false" aria-haspopup="true" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-hidden focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-offset-2 focus-visible:ring-offset-gray-800">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-8 rounded-full" />
          </button> -->

        <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
        <!-- <div role="menu" tabindex="-1" aria-labelledby="user-menu-button" aria-orientation="vertical" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-hidden"> -->
        <!-- Active: "bg-gray-100 outline-hidden", Not Active: "" -->
        <!-- <a id="user-menu-item-0" role="menuitem" href="#" tabindex="-1" class="block px-4 py-2 text-sm text-gray-700">Your Profile</a>
            <a id="user-menu-item-1" role="menuitem" href="#" tabindex="-1" class="block px-4 py-2 text-sm text-gray-700">Settings</a>-->
        <!-- <a id="user-menu-item-2" role="menuitem" href="#" tabindex="-1" class="block px-4 py-2 text-sm text-gray-700">Sign out</a>
          </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <!-- <div id="mobile-menu" class="sm:hidden"> -->
  <!-- <div class="space-y-1 px-2 pt-2 pb-3"> -->
  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
  <!-- <a href="#" aria-current="page"
        class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white">Dashboard</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
      <a href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
    </div> -->
  <!-- </div> -->
</nav>