<main class="bg-gray-100 dark:bg-slate-700 min-h-screen transition-colors duration-300">
  <div class="p-6 text-gray-800 dark:text-white">
    <div class="flex justify-end gap-3">
      <button (click)="toggleDarkMode()" class="flex transition-transform hover:scale-125 align-middle dark:text-white">
        <span class="material-icons">
          {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
        </span>
      </button>
    </div>

    <h1 class="text-3xl font-bold mb-6">Manage Orders</h1>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-600">

    
    <app-admin-cards [refreshTrigger]="refreshCounter"></app-admin-cards>

    
    <div *ngFor="let order of userOrders" class="mt-8 bg-white dark:bg-slate-800 shadow rounded p-4">
      <h2 class="text-xl font-semibold mb-4">Orders by: {{ order.email }}</h2>

      <table class="w-full border border-gray-300 dark:border-gray-600 rounded">
        <thead>
          <tr class="bg-gray-200 dark:bg-slate-700 text-left">
            <th class="p-3 border-b dark:border-gray-600">Sr No.</th>
            <th class="p-3 border-b dark:border-gray-600">Book Title</th>
            <th class="p-3 border-b dark:border-gray-600">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of order.orders; let i = index" class="border-b dark:border-gray-700">
            <td class="p-3">{{ i + 1 }}</td>
            <td class="p-3">{{ cart.title }}</td>
            <td class="p-3">{{ cart.quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
