<div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8 mt-6">
  <div class="bg-white dark:bg-slate-800 shadow rounded-lg p-4 text-center">
    <h2 class="text-xl font-semibold dark:text-white">Total Users</h2>
    <p class="text-blue-600 dark:text-blue-400 text-3xl mt-2">{{ users.length }}</p>
  </div>
  <div class="bg-white dark:bg-slate-800 shadow rounded-lg p-4 text-center">
    <h2 class="text-xl font-semibold dark:text-white">Books 📚</h2>
    <p class="text-blue-600 dark:text-blue-400 text-3xl mt-2">{{ books.length }}</p>
  </div>
  <div class="bg-white dark:bg-slate-800 shadow rounded-lg p-4 text-center">
    <h2 class="text-xl font-semibold dark:text-white">Orders 📦</h2>
    <p class="text-blue-600 dark:text-blue-400 text-3xl mt-2">{{ totalorders }}</p>
  </div>
</div>
