<main class="bg-gray-100 dark:bg-slate-700 min-h-screen transition-colors duration-300">
    <div class="p-6 text-gray-800 dark:text-white">
        <div class="flex justify-end gap-3">
            <button (click)="toggleSidebar()"
                class="mb-4 px-3 py-1 text-sm rounded bg-gray-800 text-white hover:bg-gray-700 dark:bg-gray-200 dark:text-gray-800 dark:hover:bg-gray-300">
                {{ isSidebarOpen ? 'Hide Sidebar' : 'Show Sidebar' }}
            </button>

            <button (click)="toggleDarkMode()"
                class="flex transition-transform hover:scale-125 align-middle dark:text-white">
                <span class="material-icons">
                    {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
                </span>
            </button>
        </div>

        <h1 class="text-3xl font-bold mb-6 text-gray-800 dark:text-white">Admin Dashboard</h1>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-600">

        <!-- Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8 mt-6">
            <div class="bg-white dark:bg-slate-800 shadow rounded-lg p-4 text-center">
                <h2 class="text-xl font-semibold dark:text-white">Total Users</h2>
                <p class="text-blue-600 dark:text-blue-400 text-3xl mt-2">124</p>
            </div>
            <div class="bg-white dark:bg-slate-800 shadow rounded-lg p-4 text-center">
                <h2 class="text-xl font-semibold dark:text-white">Books 📚</h2>
                <p class="text-blue-600 dark:text-blue-400 text-3xl mt-2">{{books.length}}</p>
            </div>
            <div class="bg-white dark:bg-slate-800 shadow rounded-lg p-4 text-center">
                <h2 class="text-xl font-semibold dark:text-white">Orders 📦</h2>
                <p class="text-blue-600 dark:text-blue-400 text-3xl mt-2">42</p>
            </div>
        </div>

        <!-- Charts and Table -->
        <div class="flex gap-6 p-4 dark:text-white">
            <div class="bg-white dark:bg-slate-800 shadow-lg rounded-lg p-4 w-full md:w-1/3 text-white-bold">
                <h2 class="text-lg font-semibold mb-2 dark:text-white ">Books Sold</h2>
                <canvas baseChart [data]="donutChartData" [type]="'doughnut'" class="w-full h-60"></canvas>
            </div>

            <div class="bg-white dark:bg-slate-800 shadow-lg rounded-lg p-4 w-full md:w-1/3 text-white-bold">
                <h2 class="text-lg font-semibold mb-2 dark:text-white">Monthly Sales</h2>
                <canvas baseChart [data]="barChartData" [type]="'bar'" class="w-full h-60"></canvas>
            </div>

            <div class="bg-white dark:bg-slate-800 shadow-lg rounded-lg p-4 w-full md:w-1/3 text-white-bold">
                <h2 class="text-lg font-semibold mb-2 dark:text-white-bold">All Books</h2>
                <table class="w-full text-sm text-left text-gray-700 dark:text-gray-200 text-white-bold">
                    <thead>
                        <tr class="text-left border-b border-gray-300 dark:border-gray-600">
                            <th class="py-2 px-3">Book Name</th>
                            <th class="py-2 px-3">Total Books in stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of topSellingBooks" class="border-b border-gray-200 dark:border-gray-700">
                            <td class="py-2 px-3">{{ user.title }}</td>
                            <td class="py-2 px-3">{{ user.quantitySold }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>